@charset "UTF-8";
/*=======================
  フロントページ商品紹介
  =======================*/
  @use "../../foundation/forwords" as fw;

.p-salesFormat{
    width: 100%;
    min-height: fw.sp-vw( 642 );
    @include fw.mq("tab"){
        width: fw.tab-vw( 357 );
        min-height: fw.tab-vw( 681 );
        @include fw.mq("pc"){
            width: fw.pc-vw( 616 );
            min-height: fw.pc-vw( 1197 );
        }
    }
    a{  
        padding: fw.sp-vw( 13 ) fw.sp-vw( 16 ) fw.sp-vw( 16 );
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        @include fw.mq("tab"){
            padding: fw.tab-vw( 14 ) fw.tab-vw( 16 ) fw.tab-vw( 16 );
            @include fw.mq("pc"){
                padding: fw.pc-vw( 24 ) fw.pc-vw( 16 ) fw.pc-vw( 16 );
            }
        }
    }
}
.p-salesFormat:first-child{
    background: url(../img/bg_takeOut.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.p-salesFormat:last-child{
    background: url(../img/bg_eatIn.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: fw.sp-vw( 20 );
    @include fw.mq( tab ){
        margin-top: 0;
    }
}
