@charset "UTF-8";
/*=======================
  画像
  =======================*/
  @use "../../foundation/forwords" as fw;

.c-img-zenpuku{
    width: 100%;
    img{
        width: 100%;
    }
}
.c-img-center--medium{
    width: 79.70%;
    margin: 0 auto;
    @include fw.mq("tab"){
        width: 81.37%;
        @include fw.mq("pc"){
            width: 42.94%;
        }
    }
    img{
        width: 100%;
    }
}